.uploadContainer {
  margin-bottom: 2rem;
  input {
    display: none;
  }

  label {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: #ccc;
    padding: 1.5rem 5rem;
    background-color: #212121;
    cursor: pointer;
    box-shadow: 3px 3px 4px #000;
    border-radius: 5px;
  }
}
