.formGroup {
  margin-bottom: 3rem;

  input {
    border: none;
    color: #fff;
    border-radius: 0.4rem;
    margin-top: 0.5rem;
  }

  label {
    font-size: 1.8rem;
    color: #ccc;
    display: block;
  }
}
