.template {
  width: 108rem;
  height: 108rem;
  position: relative;
  background-size: cover;
  background: linear-gradient(to right, #201f40, #010101);
  color: #fff;
  overflow: hidden;
  align-items: center;
  &ContentTop {
    display: flex;
    &ImgContainer {
      height: 77.9rem;
      width: 65%;
    }
    &Title {
      font-size: 6rem;
      width: 35%;
      margin: 18rem 5rem 5rem;
      font-weight: bold;
    }
  }
  &ContentBottom {
    padding: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > div {
      width: 48%;
    }
    > div:nth-child(2) {
      text-align: center;
    }
    &Subtitle {
      font-size: 2.5rem;
      margin-bottom: 5rem;
    }
    &Btn {
      background-color: #0f1cf3;
      padding: 1.6rem 3.2rem;
      border-radius: 0.4rem;
      color: #fff;
      font-size: 3.2rem;
      border: none;
      box-shadow: 0 0 0.8rem rgba(37, 44, 97, 0.2);
    }
  }

  &TopZigZag {
    position: absolute;
    top: 6rem;
  }

  &BottomZigZag {
    position: absolute;
    right: 0;
    bottom: 6rem;
    path {
      stroke: #6a6a6e;
    }
  }
}

.perforatedImage {
  display: flex;
  flex-wrap: wrap;
  > div {
    width: 21rem;
    height: 21rem;
    overflow: hidden;
    border-radius: 50%;
    // background-size: 300% 300%;
    &:nth-child(1) {
      background-position: 0% 0%;
    }
    &:nth-child(2) {
      background-position: -100% 0;
    }

    &:nth-child(3) {
      background-position: -200% 0;
    }
    &:nth-child(4) {
      background-position: 0 -100%;
    }
    &:nth-child(5) {
      background-position: -100% -100%;
    }

    &:nth-child(6) {
      background-position: -200% -100%;
    }
    &:nth-child(7) {
      background-position: 0 -200%;
    }
    &:nth-child(8) {
      background-position: -100% -200%;
    }

    &:nth-child(9) {
      background-position: -200% -200%;
    }
  }
}
