.formGroup {
  margin-bottom: 3rem;

  textarea {
    resize: none;
    width: 100%;
    background-color: #212121;
    border: none;
    color: #fff;
    border-radius: 0.4rem;
    margin-top: 0.5rem;
    padding: 1rem;
  }

  label {
    font-size: 1.8rem;
    color: #ccc;
  }
}
