.separator {
  margin: 4rem 0;
}

main.container {
  width: 140rem;
  padding: 9rem 15rem 15rem;
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #331010;
}

h1 {
  color: #fff;
  font-size: 7rem;
}
